{% extends 'base.html.twig' %}

{% block body %}

	{% for message in app.flashes('message') %}
		<div class="alert alert-success">
			<h3>
				{{ message }}
			</h3>
		</div>
	{% endfor %}

	<section class="contact-section">
		<div class="container-fluid">
			<div class="row">
				<div
					class="col-lg-6 p-0">
					<!-- Map -->
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!!1m18!1m12!1m3!1d3247.2565896109436!2d11.028596314891399!3d35.5226563462605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1302216985cb127d%3A0x24a342e23e50c326!2sHigher%20Institute%20of%20Computer%20Science%20Mahdia!5e0!3m2!1sen!2stn!4v1642625133435!5m2!1sen!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div>
				<div class="col-lg-6 p-0">
					<div class="contact-warp">
						<div class="section-title mb-0">
							<h2>Waiter Contact</h2>
						</div>
						<p>Would you like to tell the waiter about your orders? On this page you can use our contact form to get in touch with our qualified service staff. It doesn't matter if something is missing or if there are extra requests for our dishes. Praise, suggestions and criticism are also welcome. Do not hesitate to contact us.</p>
						{{form(emailForm)}}
						</div>
					</div>
				</div>
			</div>
		</section>


	{% endblock %}
